.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content-type {
    text-align: center;
    background: #fff;
    border-radius: 11px;
    width: 100%;
    padding: 24px 80px;
    &.wordsBank {
      width: 62%;
    }
    h1,
    h2,
    h4 {
      color: #374174;
    }
    .objective {
      width: 100%;
      padding: 5px 10px;
      margin: 8px 0px;
      display: flex;
      border-radius: 5px;
      text-align: left;
      p {
        margin: 0;
      }
      .objective-text {
        margin-left: 8px;
      }
    }
    .words-content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 15px;

      .word {
        width: 30%;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        margin: 11px 37px;
        padding: 17px 10px;
        background: #fafafa;
        align-items: center;
        p {
          margin: 0px;
        }
      }
    }
    .step-play {
      width: 55%;
      .button-play {
        cursor: pointer;
        margin-bottom: 12px;
      }
      .linea-pasos {
        height: 10px;
        background: #eeeeee;
        border-radius: 20px;
        .completado {
          background-color: red;
          border-radius: 20px;
          height: 10px;
        }
      }
    }
  }
  .buttons {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .controlButton {
      color: #374174;
      font-weight: bold;
      border: 1px solid #374174;
      border-radius: 10px;
      padding: 10px 30px;
      background: #fff;
      &:hover {
        background: #eee;
      }
    }
    .right {
      margin-left: auto;
    }
  }
}

@media (max-width: 769px) {
  .container-content {
    .content-type {
      padding: 24px 10px;
      h1 {
        font-size: 1.5rem;
      }
      h2,
      h4 {
        font-size: 1rem;
      }
      .words-content {
        .word {
          width: 100%;
        }
      }
      .step-play {
        width: 100%;
      }
    }
  }
}
