<div class="container-content">
  <ng-container *ngIf="video !== '' && step === 1">
    <div class="content-type">
      <div [innerHTML]="video"></div>
    </div>
    <div class="buttons">
      ><button type="button" class="controlButton" (click)="nextStep()">
        Continuar
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="objective !== '' && step === 2">
    <div class="content-type">
      <h1>{{ objective.title }}</h1>
      <h4>I will be able to - Yo seré capaz de:</h4>
      <br />
      <div *ngFor="let item of objective.objectivesArray" class="objective">
        <div *ngIf="item.icon !== ''"></div>
        <div *ngIf="item.icon === ''" style="color: #374174;">
          <i class="fas fa-book-open"></i>
        </div>
        <div [innerHTML]="item.objective" class="objective-text"></div>
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="controlButton" (click)="previusStep()">
        Regresar</button
      ><button type="button" class="controlButton" (click)="nextStep()">
        Continuar
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="wordsBank !== [] && step === 3">
    <div class="content-type">
      <h1>WORD BANK</h1>
      <div class="words-content">
        <div *ngFor="let item of wordsBank[pageWordBank].words" class="word">
          <p>
            <span style="color: red;">{{ item.word }}</span>
            -
            <span style="color: #374174;">{{ item.traduction }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="controlButton" (click)="previusStep()">
        Regresar</button
      ><button type="button" class="controlButton" (click)="nextStep()">
        Continuar
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="focus !== '' && step === 4">
    <div class="content-type">
      <div [innerHTML]="focus" style="text-align: left;"></div>
    </div>
    <div class="buttons">
      <button type="button" class="controlButton" (click)="previusStep()">
        Regresar</button
      ><button type="button" class="controlButton" (click)="nextStep()">
        Continuar
      </button>
    </div>
  </ng-container>
</div>
