<div class="row">
  <div class="col-md-12">
    <h3 class="card-title">Nueva Unidad</h3>
    <form [formGroup]="form">
      <div class="form-group">
        <label class="control-label" for="name">Título de la unidad</label>
        <input name="unit[name]" id="name" type="text" formControlName="name" class="form-control" required>
      </div>

      <div class="text-center">
        <button style="width: 70%" class="btn bg-primary-blue " type="submit" [disabled]="!(form.valid && !disableButton)" (click)="onSubmit()">Guardar</button>
      </div>
    </form>
  </div>
</div>

