<section class="float-right">
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a [routerLink]="['/admin/courses/new']" [routerLinkActive]="'active'"  mat-mini-fab bg-primary-blue aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-md-12">
    <h3>Lista de cursos</h3>
    <div class="dropdown-divider"></div>
  </div>
</div>
<div class="row">

  <div class="col-md-12" *ngIf="courses !== undefined">
    <div class="card-deck">
      <div class="card" *ngFor="let course of courses">
        <img class="card-img-top" src="assets/cursos.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/admin/course/content', course.id]">{{course.name}}</a></h5>
          <p class="card-text">{{ course.author }}</p>
          <p class="card-text"><small class="text-muted">{{ course.created_at }}</small></p>
        </div>
      </div>

    </div>
  </div>
</div>
