.half-with {
  width: 50% !important;
}

.bg-skool-red {
  background-color: #ec4e55;
  li {
    background-color: #c13a40;
    color: #fff;
  }

  ol {
    counter-reset: list;
    list-style: none;
  }

  ol li {
    counter-increment: list;
    margin-bottom: 10px;
    border: 0px solid #000;
    border-radius: 25px 25px 25px 25px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    .theme-progress {
      padding: 5px;
      float: right;
    }
  }

  ol li::before {
    content: counter(list);
    background: #fff;
    font-family: Arial, sans-serif;
    color: #ec4e55;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.3em;
    display: inline-block;
    margin-right: 1em;
    margin-left: -7px;
  }
  .progress {
    background-color: #c13a40;
    height: 0.4rem;
    margin-left: 40px;
    .progress-bar {
      background-color: #fff;
    }
  }
}

.listening {
  background-color: #743f95;
}

.writing {
  background-color: #6795fc;
}
.speaking {
  background-color: #ffc400;
}

.language {
  background-color: #77cb6c;
}
.reading {
  background-color: #ff8752;
}

.vocabulary {
  background-color: #76d6c7;
}
.card-component {
  width: 50%;
}
.right {
  width: 50%;
  margin-left: auto;
}
.lineaRight {
  height: 140px;
  border-left: 3px solid #c6d0d0;
}
.lineaLeft {
  height: 140px;
  border-right: 3px solid #c6d0d0;
}
