<h3 class="card-title text-center">{{title}}</h3>

<div class="form-group" *ngIf="slide === null">
  <label class="control-label" for="word_bank_title">Cargar adjunto</label>
  <app-upload-file-widget [accept]="'application/pdf'" (formData)="setFormData($event, 1)"></app-upload-file-widget>
</div>

<div class="text-center" *ngIf="slide">
  <span class="float-right" (click)="deleteAttach(1)"><i class="fa fa-times"></i></span>
</div>

        <div class="text-center">
          <button style="width: 70%" class="btn bg-primary-blue " type="submit"
            [disabled]="!(disableButton)" (click)="onSubmit()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Guardar
          </button>
        </div>

