
<div class="container-login">
  <div class="wrap-login">
    <form class="login-form validate-form text-center">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-primary-blue" id="basic-addon1"><i class="fas fa-user"></i></span>
        </div>
        <input name="email" type="text" class="form-control" placeholder="Correo electronico" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-primary-blue" id="basic-addon1"><i class="fas fa-lock"></i></span>
        </div>
        <input type="password" name="pass" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Recordar contraseña</label>
        </div>
      </div>

      <button class="btn btn-primary-red" type="submit">Sign in</button>

    </form>

    <div class="login-more">

      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center rounded mx-auto d-block">
          <img src="assets/logo/SkooL Centro Educativo 2017-02.png" class="rounded mx-auto d-block">
        </div>
    </div>

    </div>
  </div>
</div>



