@import './variable';
.bg-primary-red {
  background-color: $primary-red !important;
  color: #fff;
}

.bg-primary-blue {
  background-color: $primary-blue !important;
  color: #fff;
}

.btn-primary-red {
  color: #fff;
  background-color:$primary-red;
  border-color: $primary-red;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: $primary-blue;
  background-color: $primary-blue;
}
