.audio-button {
  cursor: pointer;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50px;
}
