.navbar-skool {
  background-color: #232B61;

  border-radius: 1000px / 300px;
  height: 1000px;
  margin-top: -700px;
  top: -50px;
  padding-top: 700px;
  margin-left: -55px;
  margin-right: -55px !important;
  background-image: url("/assets/images/header.png");
  background-color: #232B61;
  background-blend-mode: soft-light;
  background-position: 25% 75%;

}
