.container-nav {
  background-color: #fff;
  .navbar-skool {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #232b61;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;

    background-size: cover;
    background-image: url("/assets/images/header3.png");
    background-blend-mode: soft-light;
    background-position: 25% 75%;
    background-position: center;
    background-repeat: no-repeat;
    .navbar-logo {
      text-align: center;
      width: 100%;
    }
    .navbar-items {
      margin-bottom: 70px;

      .nav-item {
        margin: 10px 20px;
        font-size: 0.7rem;
        a {
          color: #ffffff;
        }
      }
    }
  }
}
@media (max-width: 769px) {
  .container-nav {
    .navbar-skool {
      border-radius: 0px;
      .navbar-logo {
      }
      .navbar-items {
        width: 100%;
        margin: 0px;
        .nav-item {
          a {
          }
        }
      }
    }
  }
}

/* background-color: #232b61;

  border-radius: 1000px / 300px;
  height: 1000px;
  margin-top: -700px;
  top: -50px;
  
  margin-left: -55px;
  margin-right: 0px;
  background-image: url("/assets/images/header.png");
  background-color: #232b61;
  background-blend-mode: soft-light;
  background-position: 25% 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; */
/* 
.navbar-skool {
  background-color: #232b61;
  border-radius: 1114px/212px;
  height: 1065px;
  margin-top: -700px;
  top: -50px;
  margin-right: 0px;
  background-size: cover;
  background-image: url(/assets/images/header.png);
  background-color: #232b61;
  background-blend-mode: soft-light;
  background-position: 25% 75%;
  background-position: center;
  background-repeat: no-repeat;
} */
