<div class="page-wrapper chiller-theme toggled">
  <app-sidebar-admin
    *ngIf="currentUser && currentUser.user?.type === 1"
  ></app-sidebar-admin>

  <main
    [ngClass]="{ 'page-content': currentUser && currentUser.user?.type === 1 }"
    [ngClass]="{ imgFondo: actualURL === '/student' }"
  >
    <app-navbar-admin
      *ngIf="currentUser && currentUser.user?.type === 1"
    ></app-navbar-admin>
    <div
      class="container-fluid"
      [ngClass]="{
        inside:
          actualURL !== '/student' &&
          currentUser &&
          currentUser.user?.type === 0
      }"
    >
      <app-navbar *ngIf="actualURL === '/student'"></app-navbar>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer
      *ngIf="currentUser && currentUser.user?.type === 0"
    ></app-footer>
  </main>
</div>
