<app-navbar
  *ngIf="
    currentUser && currentUser.user?.type === 0 && actualURL === '/student'
  "
></app-navbar>
<div
  class="toggled"
  [ngClass]="{ 'd-flex': currentUser && currentUser.user?.type === 1 }"
  id="wrapper"
>
  <app-sidebar-admin
    *ngIf="currentUser && currentUser.user?.type === 1"
  ></app-sidebar-admin>

  <!-- Page Content -->
  <div
    id="page-content-wrapper"
    [ngClass]="{ imgFondo: actualURL === '/student' }"
  >
    <app-navbar-admin
      *ngIf="currentUser && currentUser.user?.type === 1"
    ></app-navbar-admin>
    <div
      class="container-fluid"
      [ngClass]="{ inside: actualURL !== '/student' }"
    >
      <div class="container" role="main">
        <router-outlet></router-outlet>
        <app-footer
          *ngIf="currentUser && currentUser.user?.type === 0"
        ></app-footer>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
