::ng-deep .content-type {
  text-align: center;
  background: #fff;
  width: 100%;
  padding: 24px 110px;
  margin-bottom: 20px;
  position: relative;
  .audio-content {
    width: 100%;
    display: flex;
    justify-content: center;

    .audio-text {
      position: relative;
      height: 50px;
      width: 18%;
      background-color: #283890;
      color: #fff;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      .audio {
        position: absolute;
        top: 4px;
        left: -20px;
      }
    }
  }
  p {
    margin: 0px !important;
  }
  .questions {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    color: #374174;
    font-weight: bold;
    margin-top: 100px;
  }
  .imagen {
    position: absolute;
    top: -70px;
    left: 370px;
    img {
      width: 50%;
    }
  }
  .step-play {
    margin-top: 80px;
    width: 100%;

    .linea-pasos {
      height: 10px;
      background: #eeeeee;
      border-radius: 20px;
      .completado {
        background-color: red;
        border-radius: 20px;
        height: 10px;
      }
    }
  }
  .options {
    width: 53%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    /* justify-content: center; */
    justify-content: space-between;
    .option {
      display: flex;
      justify-content: center;
      width: 30%;

      padding: 10px;
      margin: 9px;
      cursor: pointer;
      background-color: #eeeeee;
      color: #cccccc;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
      border-radius: 6px;
      &:hover {
        background-color: red;
        color: #fff;
      }
    }
  }
}

@media (max-width: 769px) {
  .content-type {
    padding: 24px 10px;
    .audio-content {
      .audio-text {
        width: 80%;
      }
    }
    .options {
      width: 100%;
    }
  }
}
