<ng-container>
  <div *ngIf="questions.length <= 0">
    <h1>Esta actividad no tiene preguntas aun</h1>
  </div>
  <div class="content-type" *ngIf="questions.length > 0">
    <div class="imagen">
      <img src="{{ '/assets/images/dress.png' }}" alt="" />
    </div>
    <div [innerHTML]="questions[page]?.question" class="questions"></div>
    <div class="audio-content">
      <div class="audio-text">
        <div class="audio">
          <app-audio-button
            [urlAudio]="questions[page]?.audio"
          ></app-audio-button>
        </div>
        Test
      </div>
    </div>
    <div class="options">
      <div
        *ngFor="let answer of questions[page]?.options; let i = index"
        class="option"
        (click)="selected(i)"
      >
        <div [innerHTML]="answer?.option"></div>
      </div>
    </div>

    <div class="step-play">
      <div class="linea-pasos">
        <div
          class="completado"
          [ngStyle]="{ width: ((page + 1) / questions.length) * 100 + '%' }"
        ></div>
      </div>
      <div>{{ page + 1 }} / {{ questions.length }}</div>
    </div>
  </div>
</ng-container>
