<div class="row">

   <!--Little Profile widget-->
   <div class="col-lg-5 col-xlg-4">
    <div class="card">
        <div class="card-body little-profile text-center">
            <h3 class="m-b-0">Unidades</h3>
        </div>
        <mat-accordion cdkDropList (cdkDropListDropped)="dropUnit($event)"  #unitsList="cdkDropList" [cdkDropListData]="unitsArray">
          <mat-expansion-panel *ngFor="let unit of unitsArray; let i = index" [ngClass]="{'bg-light' : i%2 == 0}" cdkDrag>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5 class="m-b-0 font-medium">{{unit.name}}</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ul class="feeds example-list" cdkDropList (cdkDropListDropped)="drop($event, i)"  #slidesList="cdkDropList" [cdkDropListData]="unit.slides">
              <li class="example-box" *ngFor="let item of unit.slides; let i = index" (click)="showSlide(item)" cdkDrag>

                <div class="bg-primary-red drag-activity">
                  <i  class="drag-icon" *ngIf="item.type === 'video'" class="fa fa-video"></i>
                  <mat-icon class="drag-icon" *ngIf="item.type === 'quiz'">fact_check</mat-icon>
                  <mat-icon class="drag-icon" *ngIf="item.type === 'content'">article</mat-icon>
                  <mat-icon class="drag-icon" *ngIf="item.type === 'activity'"> wb_incandescent</mat-icon>
                </div>
                <ng-container *ngIf="item.type === 'video'">{{item.content.video_title}}
                  <span>
                    <button mat-button [matMenuTriggerFor]="menuVideo"><i class="fas fa-ellipsis-v"></i></button>
                    <mat-menu #menuVideo="matMenu">
                     <button mat-menu-item (click)="editSlide(item, unit.id)"><i class="far fa-edit"></i> Editar</button>
                     <button mat-menu-item (click)="deleteSlide(item, unit.id, i)"><i class="far fa-trash-alt"></i> Eliminar</button>
                    </mat-menu>
                  </span>
                </ng-container>
                <ng-container *ngIf="item.type === 'quiz'">{{ item.content.name }}
                  <span >
                    <button mat-button [matMenuTriggerFor]="menuQuiz"><i class="fas fa-ellipsis-v"></i></button>
                    <mat-menu #menuQuiz="matMenu">
                     <button mat-menu-item (click)="editSlide(item, unit.id)"><i class="far fa-edit"></i> Editar</button>
                     <button mat-menu-item (click)="deleteSlide(item, unit.id, i)"><i class="far fa-trash-alt"></i> Eliminar</button>
                    </mat-menu>
                  </span>
                </ng-container>
                <ng-container *ngIf="item.type === 'content'">{{ item.content.objective_title }}
                  <span>
                    <button mat-button [matMenuTriggerFor]="menuContent"><i class="fas fa-ellipsis-v"></i></button>
                    <mat-menu #menuContent="matMenu">
                     <button mat-menu-item (click)="editSlide(item, unit.id)"><i class="far fa-edit"></i> Editar</button>
                     <button mat-menu-item (click)="deleteSlide(item, unit.id, i)"><i class="far fa-trash-alt"></i> Eliminar</button>
                    </mat-menu>
                  </span>
                </ng-container>
                <ng-container *ngIf="item.type === 'activity'">{{ item.content.name }}
                  <span >
                    <button mat-button [matMenuTriggerFor]="menuActivity"><i class="fas fa-ellipsis-v"></i></button>
                    <mat-menu #menuActivity="matMenu">
                     <button mat-menu-item (click)="editSlide(item, unit.id)"><i class="far fa-edit"></i> Editar</button>
                     <button mat-menu-item (click)="deleteSlide(item, unit.id, i)"><i class="far fa-trash-alt"></i> Eliminar</button>
                    </mat-menu>
                  </span>
                </ng-container>
                <span class="text-muted"></span>
              </li>
            </ul>

            <section>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <div class="dropdown-divider"></div>
                  <div class="text-center" role="group" aria-label="...">
                    <button (click)="newSlide(unit.id, 'video')" matTooltip="Vídeo" mat-icon-button  color="primary" aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon>videocam</mat-icon>
                    </button>
                    <button (click)="newSlide(unit.id, 'content')" matTooltip="Contenido"  mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                      <mat-icon>article</mat-icon>
                    </button>
                    <button (click)="newSlide(unit.id, 'quiz')" matTooltip="Quiz" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon>fact_check</mat-icon>
                    </button>
                    <button (click)="newSlide(unit.id, 'activity')" matTooltip="Actividades" mat-icon-button color="primary" >
                      <mat-icon>wb_incandescent</mat-icon>
                    </button>
                  </div>


                </div>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="card-body text-center">
              <button (click)="newUnit()" class="m-t-10 m-b-20 waves-effect waves-dark btn  bg-primary-blue btn-md btn-rounded">Crear unidad</button>
        </div>
    </div>
</div>
<!--Little Profile widget-->

  <div class="col-lg-7 col-xlg-8">
      <div class="card">
          <div class="card-body">
              <div class="d-flex no-block">
                <ng-container *ngIf="showUnitForm">
                  <app-unit-form [position]="unitsArray.length" class="col-md-12" [courseId]="courseId" (unit)="createdUnit($event)"></app-unit-form>
                </ng-container>

                <ng-container *ngIf="showVideoForm">
                  <app-unit-video-form class="col-md-12" [position]="currentPositionSlide" [slide]="currentSlide" [courseId]="courseId" [unitId]="currentUnitId" (resource)="addSlide($event)"></app-unit-video-form>
                </ng-container>

                <ng-container *ngIf="showQuizForm">
                  <app-test-form class="col-md-12" [position]="currentPositionSlide" [slide]="currentSlide" [courseId]="courseId" [unitId]="currentUnitId" (test)="addSlide($event)"></app-test-form>
                </ng-container>

                <ng-container *ngIf="showContentForm">
                  <app-content-form class="col-md-12" [position]="currentPositionSlide" [slide]="currentSlide" [courseId]="courseId" [unitId]="currentUnitId" (test)="addSlide($event)"></app-content-form>
                </ng-container>
                <ng-container *ngIf="showSlideComponent">
                  <app-show-slide [slide]="currentSlide"></app-show-slide>
                </ng-container>
                <ng-container *ngIf="showActivityForm">
                  <app-activity-choice-form [position]="currentPositionSlide" [slide]="currentSlide" [courseId]="courseId" [unitId]="currentUnitId" (test)="addSlide($event)"></app-activity-choice-form>
                </ng-container>

              </div>
              <img *ngIf="showImage" style="width:100%" src="assets/images/blank_page.jpg">
          </div>
      </div>
  </div>
</div>
