<h3 class="card-title text-center">{{title}}</h3>
<form [formGroup]="form">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step>
      <ng-template matStepLabel>Objetivos</ng-template>

      <div class="form-group">
        <label class="control-label" for="title">Título</label>
        <input name="unit_content[objective_title]" id="title" type="text" formControlName="objective_title"
          class="form-control" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="title">Vídeo URL</label>
        <input name="unit_content[video_url]" id="title" type="text" formControlName="video_url" class="form-control"
          required>
      </div>

      <div formArrayName="objectives">
        <h5>Objetivos</h5>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let objectiveGroup  of objectives.controls; let i=index"
            [ngClass]="{'bg-light' : i%2 == 0}">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5 class="m-b-0 font-medium">{{'Objetivo #'+ (i+1)}}</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [formGroupName]="i">
              <!-- <div class="form-group">
                <label class="control-label" for="title">Icono</label>
                <input type="text" formControlName="icon">
              </div>
              -->
              <div class="form-group">
                <quill-editor placeholder="Inserte el texto aquí" format="html" formControlName="objective">
                </quill-editor>
              </div>

            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <section class="float-right">
          <button (click)="addObjective()" mat-mini-fab bg-primary-blue>
            <mat-icon>add</mat-icon>
          </button>
        </section>
      </div>

      <div>
        <button class="float-right" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Banco de palabras</ng-template>
      <div formArrayName="words_banks">

        <mat-accordion>
          <mat-expansion-panel *ngFor="let wordBankGroup of words_banks.controls; let i=index"
            [ngClass]="{'bg-light' : i%2 == 0}">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h5 class="m-b-0 font-medium">{{'Word bank #'+ (i+1)}}</h5>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [formGroupName]="i">
              <div class="form-group">
                <label class="control-label" for="word_bank_title">Titulo</label>
                <input name="unit_content[word_bank_title]" id="word_bank_title" type="text"
                  formControlName="word_bank_title" class="form-control" required>
              </div>

              <div class="form-group" *ngIf="!hasAudioFile(i)">
                <label class="control-label" for="word_bank_title">Audio MP3</label>
                <app-upload-file-widget [accept]="'audio/*'" (formData)="setFormData($event, i)"></app-upload-file-widget>
              </div>

              <div class="text-center" *ngIf="hasAudioFile(i)">
                <audio controls class="">
                  <source [src]="sanitizerUrl(hasAudioFile(i), true)">
                  Your browser does not support the <code>audio</code> element.
                </audio>
                <span class="float-right" (click)="deleteAudio(i)"><i class="fa fa-times"></i></span>
              </div>

              <!-- Multiple words start-->
              <div formArrayName="words">
                <h5>Terminos</h5>
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let wordGroup  of getWordControl(i).controls; let j=index"
                    [ngClass]="{'bg-light' : i%2 == 0}">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h5 class="m-b-0 font-medium">{{'Termino #'+ (j+1)}}</h5>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div [formGroupName]="j">

                      <div class="form-row">
                        <div class="col">
                          <label class="control-label" for="word">Termino</label>
                          <input name="unit_content[word]" id="word_bank_title" type="text" formControlName="word"
                            class="form-control" required>
                        </div>

                        <div class="col">
                          <label class="control-label" for="traduction">Traducción</label>
                          <input name="unit_content[traduction]" id="traduction" type="text"
                            formControlName="traduction" class="form-control" required>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <section class="float-right">
                  <button (click)="addWord(i)" mat-mini-fab bg-primary-blue>
                    <mat-icon>add</mat-icon>
                  </button>
                </section>
              </div>
              <!-- multiple words end -->

            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <section class="float-right">
          <button (click)="addWordBank()" mat-mini-fab bg-primary-blue
            aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
          </button>
        </section>

      </div>

      <div>
        <button class="float-left" mat-button matStepperPrevious>Regresar</button>
        <button class="float-right" mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Languaje Focus</ng-template>
      <div class="form-group">
        <label class="control-label" for="word_bank_title">Languaje Focus</label>
        <quill-editor placeholder="Inserte el texto aquí" format="html" formControlName="focus"></quill-editor>
      </div>

      <div>
        <button class="float-left" mat-button matStepperPrevious>Regresar</button>
        <div class="text-center">
          <button style="width: 70%" class="btn bg-primary-blue " type="submit"
            [disabled]="!(form.valid && !disableButton)" (click)="onSubmit()">Guardar</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
