<div class="unit-card {{ positionIconClass }}">
  <div
    class="icon-card"
    *ngIf="dataToCard.icon !== ''"
    [ngStyle]="{ 'background-color': dataToCard.color }"
  >
    <img src="/assets/icons/svg/{{ dataToCard.icon }}" alt="" />
    <div>
      {{ dataToCard.type }}
    </div>
  </div>
  <div class="progreso">
    <div class="mb-3">{{ dataToCard.name }}</div>
    <div>{{ progress | number: "1.0-0" }}% Completado</div>
    <div class="progress-bar">
      <div class="completed-bar" [ngStyle]="{ width: progress + '%' }"></div>
    </div>
  </div>

  <div class="units-content">
    <div
      class="unit"
      *ngFor="let item of unidades; let i = index"
      (click)="click(item.type, i, item.status_by_user)"
      [ngClass]="{ disable: item.status_by_user === 'completado' }"
    >
      <div class="lesson-number">
        {{ i + 1 }}
      </div>
      <div>
        <p *ngIf="item.type === 'video'">{{ item.content.video_title }}</p>
        <p *ngIf="item.type === 'quiz'">{{ item.content.name }}</p>
        <p *ngIf="item.type === 'activity'">{{ item.content.name }}</p>
        <p *ngIf="item.type === 'content'">
          {{ item.content.objective_title }}
        </p>
        <p *ngIf="item.type === 'pdf'">
          {{ item.content.name }}
        </p>
        <p *ngIf="item.type === 'no data'">{{ item.content.name }}</p>
      </div>

      <div class="status">
        <div
          *ngIf="item.status_by_user !== null"
          class="{{ item.status_by_user }}"
        >
          <i
            class="fas fa-check"
            *ngIf="item.status_by_user && item.status_by_user !== 'visitado'"
            style="color: #d7444b;"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
