div.blanks {
  background-color: #edecf1;
  height: 36px;
  border-radius: 0.25rem;
}

div.blanks.ui-droppable-active {
  min-height: 20px;
}

span.answers > b {
  border-bottom: 2px solid #000000;
}

span.given {
  margin: 5px;
}

p {
  display: inline;
}

.optionsContaier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .option {
    text-align: center;
    position: relative;
    margin: 20px 10px;
    img {
      width: 220px;
    }

    .dragZone {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: -18px;
      border: 1px solid #00000033;
    }
  }
}

.phrasesContainer {
  text-align: center;
}

.phrase {
  width: 200px;
}

.phraseSuccess {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.error {
  color: red;
  margin: 20px 0;
  text-align: center;
}
