<div class="optionsContaier">
  <div class="option">
    <div class="img"></div>
    <img src="assets/images/dress.png" alt="" />
    <div class="blanks Good Bye dragZone phrase"></div>
  </div>
  <div class="option">
    <div class="img"></div>
    <img src="assets/images/dress.png" alt="" />
    <div class="blanks Nice to meet you dragZone phrase"></div>
  </div>
  <div class="option">
    <div class="img"></div>
    <img src="assets/images/dress.png" alt="" />
    <div class="blanks dragZone phrase"></div>
  </div>
  <div class="option">
    <div class="img"></div>
    <img src="assets/images/dress.png" alt="" />
    <div class="blanks dragZone phrase"></div>
  </div>
  <div class="option">
    <div class="img"></div>
    <img src="assets/images/dress.png" alt="" />
    <div class="blanks dragZone phrase"></div>
  </div>
  <div class="option">
    <div class="img"></div>
    <img src="assets/images/dress.png" alt="" />
    <div class="blanks dragZone phrase Dress"></div>
  </div>
</div>

<div class="error">
  <p></p>
</div>

<div class="phrasesContainer">
  <span class="given btn btn-danger phrase" rel="1">Good Bye</span>
  <span class="given btn btn-danger phrase" rel="2">Nice to meet you</span>
  <span class="given btn btn-danger phrase" rel="3">Dress</span>
</div>
