
    <h3 class="card-title">Nuevo vídeo</h3>
    <form [formGroup]="form">
      <div class="form-group">
        <label class="control-label" for="title">Título del vídeo</label>
        <input name="unit_video[video_title]" id="title" type="text" formControlName="video_title" class="form-control" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="url">Ingrese URL del vídeo</label>
        <input name="unit_video[video_url]" id="url" type="text" formControlName="video_url" class="form-control" required>
      </div>

      <div class="text-center">
        <button style="width: 70%" class="btn bg-primary-blue " type="submit" [disabled]="!(form.valid && !disableButton)" (click)="onSubmit()">Guardar</button>
      </div>
    </form>

