
<div class="container-login">
  <div class="wrap-login">
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form validate-form text-center">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-primary-blue" id="basic-addon1"><i class="fas fa-user"></i></span>
        </div>
        <input formControlName="email" name="email" type="text" class="form-control" placeholder="Correo electronico" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Username is required</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-primary-blue" id="basic-addon1"><i class="fas fa-lock"></i></span>
        </div>
        <input formControlName="password" type="password" name="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Recordar contraseña</label>
        </div>
      </div>

      <button [disabled]="loading" class="btn btn-primary-red" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Sign in
      </button>

    </form>

    <div class="login-more">

      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center rounded mx-auto d-block">
          <img src="assets/logo/SkooL Centro Educativo 2017-02.png" class="rounded mx-auto d-block">
        </div>
    </div>

    </div>
  </div>
</div>



